body {
    font-family: 'iransans' !important;
    box-sizing: border-box;
    margin: 0;
    direction: rtl;
    font-size: 14px;
    line-height: 24px;
    background-color: #E6E6E6;
    text-align: right;
}
:focus{
    outline: 0px solid transparent !important;
}
p {
    margin: 0
}

.dri_rtl {
    direction: rtl
}

.dri_ltr {
    direction: ltr
}

.w-50 {
    width: 50%
}

.white-bg {
    background: #fff
}

.white-color {
    color: #fff !important
}

.red-color {
    color: #EB5757 !important;
}