$primary-color-gold: #BBA872;
$primary-color-bright-gold: #F2C94C;
$primary-color-blue: #1F435E;
$natural-color: #fff;
$text-color: #585858;
$gray-color: #BFBFBF;
$cta-color:#E3C46C;
$cta-color-lighter:#EEBB2A;
$cta-color-blue:#2D9CDB;

$radius-small: 4px;
$radius-big: 10px;