.timeline {
    padding: 30px 0;
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        border-left: 6px solid #FFE0BF;
        height: 100%;
        z-index: 1;
        transform: translateX(-50%);
    }

    .username {
        background: $cta-color;
    }
}

.timeline-nodes {
    padding-bottom: 25px;
    position: relative;

    &:nth-child(even) {
        flex-direction: row-reverse;

        .timeline-content::after {
            content: "";
            position: absolute;
            top: 5%;
            left: 100%;
            width: 0;
            border-left: 10px solid $cta-color;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
        }
    }

    &:nth-child(odd) .timeline-content::after {
        content: "";
        position: absolute;
        top: 5%;
        right: 100%;
        width: 0;
        border-right: 10px solid $cta-color;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
}

.timeline-content {
    border: 1px solid $cta-color;
    position: relative;
    border-radius: $radius-small;
    box-shadow: $shadow-big
}

.timeline-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    z-index: 1;
}

/*small device style*/

@media (max-width: 767px) {

    .timeline-nodes:nth-child(odd) h3,
    .timeline-nodes:nth-child(odd) p {
        text-align: left
    }

    .timeline-nodes:nth-child(even) {
        flex-direction: row;
    }

    .timeline::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 4%;
        width: 0;
        border-left: 2px dashed var(--blue);
        height: 100%;
        z-index: 1;
        transform: translateX(-50%);
    }

    .timeline h3 {
        font-size: 1.7rem;
    }

    .timeline p {
        font-size: 14px;
    }

    .timeline-image {
        position: absolute;
        left: 0%;
        top: 60px;
        /*transform: translateX(-50%;);*/
    }

    .timeline-nodes:nth-child(odd) .timeline-content::after {
        content: "";
        position: absolute;
        top: 5%;
        left: auto;
        right: 100%;
        width: 0;
        border-left: 0;
        border-right: 10px solid var(--blue);
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .timeline-nodes:nth-child(even) .timeline-content::after {
        content: "";
        position: absolute;
        top: 5%;
        right: 100%;
        width: 0;
        border-right: 10px solid var(--blue);
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .timeline-image::before {
        width: 65px;
        height: 65px;
    }
}

/*extra small device style */
@media (max-width: 575px) {
    .timeline::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 3%;
    }

    .timeline-image {
        position: absolute;
        left: -5%;
    }

    .timeline-image::before {
        width: 60px;
        height: 60px;
    }
}